.navbarMini {
  width: 100%;
  border-bottom: 2px solid var(--grey);
  position: relative;
}

.miniLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0; 
  padding: 0.875rem 0 0 2rem ;
  position: relative;
}

.miniLinks li {
  position: relative;
}

.miniLinks a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.875rem; 
  font-weight: 500;
  padding: 0 0 0.875rem; 
  position: relative;
  transition: color .03s ease;
  display: inline-block;
}

.miniLinks a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--btn-bg);
  transition: width .03s ease;
}

.miniLinks a:hover::before {
  width: 100%; 
}

.miniLinks .active::before {
  width: 100%; 
}

.miniLinks a:not(.active)::before {
  transition: width 1s ease;
}

.miniLinks .active {
  color: var(--btn-bg);
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background-color: var(--btn-bg);
  width: 0;
}
