/* Base Styles
/* Sidebar.css */
/* .sidebarLinks .MuiListItemText-root {
  display: inline-block; 
}

@media (max-width: 1440px) {
  .sidebarLinks .MuiListItemText-root {
    display: none; 
  }
  
  .MuiDrawer-paper {
    width: 5% !important; 
  }
}

.sidebarLinks {
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--hover);
  color: var(--btn-bg);
  transform: scale(1.05);
  border-radius: 50px;
  font-weight: bold;
}

.nav-link.active .MuiListItemIcon-root,
.nav-link:hover .MuiListItemIcon-root {
  color: var(--btn-bg);
}

.nav-link .MuiListItemIcon-root {
  color: var(--text-grey);
}

.sidebarLinks hr {
  border: 1px solid var(--btn-bg);
  margin: 1rem 0;
}

.nav-link.active .MuiListItemText-root,
.nav-link:hover .MuiListItemText-root {
  color: var(--btn-bg);
}

.nav-link .MuiListItemText-root {
  color: var(--text-grey);
}

.nav-link {
  text-decoration: none;
  color: var(--text-grey);
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 0%;
}

.sidebar.expanded {
  width: 15%;
}


@media (max-width: 1440px) {
  .sidebar {
    width: 5%;
  }
}


@media (max-width: 1024px) {
  .sidebar {
    width: 5%;
  }
}
 */
